################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/1.1.暂停线程/obj/Debug
/1.1.暂停线程/bin/Debug
/.vs/多线程实战/v15/Server/sqlite3
