################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/1.1.暂停线程/obj/Debug
/1.1.暂停线程/bin/Debug
/.vs/多线程实战/v15/Server/sqlite3
/1.2.线程等待/bin/Debug
/1.2.线程等待/obj/Debug
/1.3.终止线程/obj/Debug
/1.3.终止线程/bin/Debug
/1.4.检测线程状态/bin/Debug
/1.4.检测线程状态/obj/Debug
/1.5.线程优先级/bin/Debug
/1.5.线程优先级/obj/Debug
/1.6.前后台线程/bin/Debug
/1.6.前后台线程/obj/Debug
/Infrastructure/bin/Debug
/Infrastructure/obj/Debug
/1.7.向线程传递参数/obj/Debug
/1.7.向线程传递参数/bin/Debug
/1.8.Lock关键字/bin/Debug
/1.8.Lock关键字/obj/Debug
/1.9.使用Monitor类锁定资源/bin/Debug
/1.9.使用Monitor类锁定资源/obj/Debug
/2.1.原子操作/bin/Debug/netcoreapp2.0
/2.1.原子操作/obj
/2.2.使用Mutex类/bin/Debug/netcoreapp2.0
/2.2.使用Mutex类/obj
/2.3.使用SemaphoreSlim类/bin/Debug/netcoreapp2.0
/2.3.使用SemaphoreSlim类/obj
/2.4.使用AutoResetEvent类/obj
/2.4.使用AutoResetEvent类/bin/Debug/netcoreapp2.0
/2.4.使用ManualResetEventSlim类/bin/Debug/netcoreapp2.0
/2.4.使用ManualResetEventSlim类/obj
